@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('.../fonts/PressStart2P-Regular') format('tff');
}

/* Verwende die Schriftart in deinem CSS */
body {
    font-family: 'PressStart2P-Regular';
}

.forum-regular {
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
  }
  