body {
  padding: 0;
  margin: 0;
  hyphens: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-image: linear-gradient(180deg, #000000, #414141);
}

/* FONT */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* Startscreen */
#startscreen {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#startscreen video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFFFFF;
  font-size: 1em;
}

@media only screen and (min-width: 768px) {
  #content {
    font-size: 1.5em;
  }

  .dasQuiz {
    font-size: 3.5em;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

}

.dasQuiz {
  font-size: 3em;
  margin-bottom: 0.2em;
  font-weight: 100;
  font-style: normal;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.playbutton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.playbutton img {
  width: 50px;
  height: 50px;
}

@media only screen and (min-width: 768px) {
  .playbutton img {
    width: 100px;
    height: 100px;
  }
}

.starten {
  background-color: transparent;
  border-radius: 0.75em;
  font-weight: 100;
  font-style: normal;
  color: white;
  padding: 0.625em 0.938em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.5em 0.125em;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Googly-Eye */
#googly-eye {
  position: absolute;
  top: 15px;
  right: 50px;
  width: 3em;
  height: 3em;
  background-color: white;
  border-radius: 50%;
  z-index: 500 !important;
}

#pupil {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.5em;
  height: 1.5em;
  background-color: black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 500 !important;
}

/* Leaflet CSS */
html,
body,
#map {
  height: 100%;
  width: 100vw;
}

#score {
  position: fixed;
  top: 0.4em;
  right: 0.25em;
  font-size: 1.5em;
  color: #fff;
  padding: 0.625em;
  z-index: 1000;
}

#bagel {
  position: fixed;
  top: 0.938em;
  right: 3.125em;
  width: 2.5em;
  height: 2.5em;
  z-index: 1000;
}

.custom-popup .leaflet-popup-content-wrapper {
  background-color: #434343;
  color: #ffffff;
  opacity: 80%;
  width: 341px;
}

@media only screen and (min-width: 768px) {
  .custom-popup .leaflet-popup-content-wrapper {
    width: 360px;
  }
}

.custom-popup .leaflet-popup-tip {
  background-color: #434343;
  opacity: 80%;
}

.custom-popup .leaflet-popup-content {
  margin: 0.25em;
  padding: 1em;
  font-size: 1.1em;
  font-weight: 400;
  font-style: normal;
  max-height: 900vh;
}

@media only screen and (min-width: 768px) {
  .custom-popup .leaflet-popup-content {
    margin: 0.75em;
    padding: 1.563em;
    font-size: 1.4em;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
  }

  .leaflet-popup-content p {
    font-size: 0.9em;
    line-height: 30px;
  }

  @media only screen and (min-width: 768px) {
    .leaflet-popup-content p {
      font-size: 1.2em;
    }
  }

  .leaflet-popup-close-button {
    display: block;
  }
}

.leaflet-popup-close-button {
  display: none !important;
}

.QuizAsset {
  width: 114%;
  height: auto;
  margin-left: -5.7%;
  margin-top: -5.5%;
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
}

.additional-image {
  padding-top: 1.25em;
  display: block;
  margin-left: -5.7%;
  margin-bottom: -5.5%;
  width: 113.8%;
  height: auto;
  border-radius: 0.75em;
}

@media only screen and (min-width: 768px) {
  .QuizAsset {
    width: 120%;
    margin-left: -13%;
    margin-top: -13%;
  }

  .additional-image {
    padding-top: 1.25em;
    display: block;
    margin-left: -13%;
    margin-bottom: -13%;
    width: 120%;
    height: auto;
    border-radius: 0.75em;
  }
}

.answer {
  background-color: #666666;
  border: 0.125em solid #94d5f500;
  border-radius: 0.75em;
  color: white;
  padding: 0.625em 0.938em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  margin: 0.5em 0.125em;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  width: 305px;
  height: 40px;

}

@media only screen and (min-width: 768px) {
  .answer {
    width: 280px;
    height: 70px;

  }
}

/* DESKTOP ONLY bei hover */
.answer:hover {
  background-color: #878787;
  border-color: #94d5f500;
}

.answer:disabled {
  background-color: #4a4a4a;
  border: 2px solid #94d5f500;
  border-radius: 12px;
}

.sound {
  background-color: #666666;
  border: 0.125em solid #94d5f500;
  border-radius: 0.75em;
  color: white;
  padding: 0.625em 0.938em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  margin: 0.5em 0.125em;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}