body {
    padding: 0;
    margin: 0;
    hyphens: auto;
    font-family: pixelfont;
    background-color: #141414;
}

/* FONT IMPORT*/
@font-face {
    font-family: pixelfont;
    src: url('fonts/press-start-2p/PressStart2P-Regular.ttf');
}

/* Startscreen */
#startscreen {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#startscreen video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
    font-size: 1em;

}

.playbutton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.playbutton img {
    width: 50px;
    height: 50px;
}


/* Leaflet CSS */
html,
body,
#map {
    height: 100%;
    width: 100vw;
}

#score {
    font-family: 'pixelfont';
    position: fixed;
    top: 0.45em;
    right: 0.2em;
    font-size: 1.5em;
    color: #fff;
    padding: 0.625em;
    z-index: 1000;
}

#bagel {
    position: fixed;
    top: 0.938em;
    right: 3.125em;
    width: 2.5em;
    height: 2.5em;
    z-index: 1000;
}

.custom-popup .leaflet-popup-content-wrapper {
    background-color: #434343;
    color: #ffffff;
    opacity: 80%;
}

.custom-popup .leaflet-popup-tip {
    background-color: #434343;
    opacity: 80%;
}

.custom-popup .leaflet-popup-content {
    margin: 0.25em;
    padding: 1em;
    font-family: 'pixelfont';
    font-size: 0.8em;
    font-weight: 400;
    font-style: normal;
    max-height: 900vh;
}

@media only screen and (min-width: 768px) {
    .custom-popup .leaflet-popup-content {
        margin: 0.75em;
        padding: 1.563em;
        font-family: 'pixelfont';
        font-size: 1.1em;
        line-height: 25px;
        font-weight: 400;
        font-style: normal;
    }

    .leaflet-popup-close-button {
        display: block;
    }
}

.leaflet-popup-close-button {
    display: none !important;
}

.additional-image {
    padding-top: 1.25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
}

.answer {
    background-color: #666666;
    border: 0.125em solid #94d5f500;
    border-radius: 0.75em;
    font-family: 'pixelfont';
    font-size: 0.9em;
    color: white;
    padding: 0.625em 0.938em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.5em 0.125em;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    width: 280px;
    height: 40px;

}

@media only screen and (min-width: 768px) {
    .answer {
        background-color: #666666;
        border: 0.125em solid #94d5f500;
        border-radius: 0.75em;
        font-family: 'pixelfont';
        font-size: 0.9em;
        color: white;
        padding: 0.625em 0.938em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        margin: 0.5em 0.125em;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
        width: 300px;
        height: 70px;

    }
}

/* DESKTOP ONLY bei hover */
.answer:hover {
    background-color: #878787;
    border-color: #94d5f500;
}

.answer:disabled {
    background-color: #4a4a4a;
    border: 2px solid #94d5f500;
    border-radius: 12px;
}

.sound {
    background-color: #666666;
    border: 0.125em solid #94d5f500;
    border-radius: 0.75em;
    font-family: 'Forum';
    font-size: 1.3em;
    color: white;
    padding: 0.625em 0.938em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.5em 0.125em;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}